<html>
<head>
    <title>Customers</title>
</head>
<body>
    <h1>Shopping customer list</h1>
    <p>Search and insert customers to the database</p>
</body>

<table>
    <thead>
    <tr>
        {% for key in customers[0].keys() %}
        <th>{{ key }}</th>
        {% endfor %}
    </tr>
    <tbody>
    {% for customer in customers %}
    <tr>
        {% for key in customer.keys() %}
        <td>{{customer[key]}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </table>
</html>
