<html>
<head>
    <title>CS 340 - Introduction to Databases</title>
</head>
<body>
    <h1>CS 340 - Introduction to Databases</h1>
    <p>Customers Table</p>
</body>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
    </tr>
    <tbody>
    {% for customer in customers %}
    <tr>
        <td>{{customer.name}}</td>
        <td>{{customer.address}}</td>
        <td>{{customer.phone}}</td>
    </tr>
    {% endfor %}
    </table>
</html>
