<!DOCTYPE html>
<html>
<head>
<title>Deliveries</title>
<script language="JavaScript">
		function showform(dowhat) {
			/*
			* four DIVS: browse, insert, update, delete
			* this function sets one visible the others not
			*/
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'update'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'delete'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'block';
			}
            else if (dowhat == 'all'){
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
		}
    function newDeliveries() { 
        showform('insert'); 
    }
    function updateDeliveries() { 
        showform('update');
    }
    function deleteDeliveries() {
        showform ('delete'); 
    }
    function browseDeliveries() { 
        showform ('browse'); 
    }
    function showAll() { 
        showform ('all'); 
    }
</script>
</head>

<body onload="browseDeliveries()">
<h1>Deliveries</h1>

    <nav>
            <a href="{{ url_for('root') }}">Home</a>
            <a href="{{ url_for('customers') }}">Customers</a>
            <a href="{{ url_for('invoices') }}">Invoices</a>
            <a href="{{ url_for('products') }}">Products</a>
            <a href="{{ url_for('deliveries') }}">Deliveries</a>
    </nav>


<div id="browse">
<p><a href="#" onClick="newDeliveries()">Add Delivery</a> </p>
{% if deliveries %}
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    {% for key in deliveries[0].keys() %}
                    <th>{{ key }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for deliveries in deliveries %}
                    <tr>
                        <td><a href="#" onClick="updateDeliveries()">Edit</a></td>
                        <td><a href="#" onclick="deleteDeliveries()">Delete</a></td>
                        {% for key in deliveries.keys() %}
                        <td>{{deliveries[key]}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
</table>
{% else %}
    <p>No Deliveries Found</p>
{% endif %}

<p>&nbsp;</p>
</div> <!-- browse -->

<div id="insert">
    <form method="POST" id="addDeliveries">
        <legend><strong>Add Deliveries</strong></legend>
          <fieldset class="fields">
            <label> Delivery Date </label> 
            <input type="date" name="deliveryDate" required>

            <label> Invoice ID </label> 
            <input type="number" name="invoiceID" required>

            <label> Customer ID </label> 
            <input type="number" name="customerID"  required>

          </fieldset>
          <input class="btn" type="submit" id="addDeliveries" value="Add Deliveries">
          <input class="btn" type="button" value="cancel" onClick="browseDeliveries()">
	</form> 
</div><!-- insert -->

<p>&nbsp;</p>
<div id="update">
    <form method="POST" id="UpdateDeliveries">
        <legend><strong>Update Deliveries</strong></legend>
          <fieldset class="fields">
            <label> Delivery Date </label> 
            <input type="date" name="deliveryDate" required>

            <label> Invoice ID </label> 
            <input type="number" name="invoiceID" required>

            <label> Customer ID </label> 
            <input type="number" name="customerID" required>

      </fieldset>
          <input class="btn" type="submit" id="UpdateSaveDeliveries" value="Save Update Deliveries">
          <input class="btn" type="button" value="cancel" onClick="browseDeliveries()">
	</form> 
</div><!-- update -->

<p>&nbsp;</p>
<div id="delete" style="display: block">
  <form method="POST" id="deleteDeliveries">
      <legend><strong>Delete Deliveries</strong></legend>
          <fieldset class="fields">
          <p>Are you sure you wish to delete the Deliveries?</p>
            
    </fieldset>
    <input class="btn" type="submit" id="DeleteDeliveries" value="Delete Deliveries">
          <input class="btn" type="button" value="cancel" onClick="browseDeliveries()">
  </form> 
</div><!-- delete -->

</body>
</html>
