<table>
    <thead>
    <tr>
        {% for key in invoices[0].keys() %}
        <th>{{ key }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for invoice in invoices %}
    <tr>
        <td>{{invoices.name}}</td>
        <td>{{invoices.customerID}}</td>
        <td>{{invoices.invoiceDate}}</td>
        <td>{{invoices.invoiceTotal}}</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
</html>
